doctype
html
	head
		title #{title} - My Site
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#wrapper
			#first
				#hiremebutton
					| <br/><input id="clickMe" type="button" value="Hire Me?" onclick="requestInterview('#{id}');" >
				#sidebar-footer
			