<!doctype html>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>amMap example</title>
        <!-- map file should be included after ammap.js -->
    <script type="text/javascript">


window.onload = function () {
    console.log('yooo')
    var div = document.getElementById('ans');
    div.innerHTML = div.innerHTML + 'Extra stuff';
};


        </script>

    </script>
    </head>

    <body>
        <div id="ans">ehhh</div>
    </body>

</html>